@import "../../modules/_base.scss";
/*Item's feed*/
.b-feed{
    padding:20px 20px 10px;
    margin-bottom:15px;
    position:relative;

    @include media($desktop){
        padding:20px 40px 10px;
    }

    color:#fff;

    h1, h2, h3, h4, h5, h6, a{
        color:#fff;
    }
}

.b-feed__content{
    @extend .g-clearfix;
    @include font-size(14px);
    line-height:1.5;
}

.b-feed--query{
    background:#03476e;

    @include media($tablet){
        margin-left:40px;
        &:before{
            content:'';
            display:block;
            @include triangle(42px, #03476e, up-right);
            position:absolute;
            top:20px;
            @include px2rem(left, -40px);
        }
    }
}

.b-feed--response{
    background:#959595;

    @include media($tablet){
        margin-right:40px;
        &:before{
            content:'';
            display:block;
            @include triangle(42px, #959595, up-left);
            position:absolute;
            top:20px;
            @include px2rem(right, -40px);
        }
    }
}

.b-feed__title{
    margin-bottom:15px;
    @include font-size(18px);
    line-height:1.1;
    color:#ecdfbc;
    font-weight:700;
}

.b-feed__date{
    margin-right:15px;
    color:#a7def2;
}

.b-feed__link-icon{
    display:inline-block;
    margin-right:15px;
    @include font-size(32px);
    text-decoration:none;
    vertical-align:middle;
}


/*Gallery*/
.b-gallery{
    list-style-type:none;
    padding:0;
    margin:10px -8px 0;
    @extend .g-clearfix;
}

.b-gallery__item{
    float:left;
    width:100%;
    padding:0 8px;
    margin-bottom:10px;
    box-sizing:border-box;

    @include media($mobile){
        width:50%;
    }

    @include media($small){
        width:(100%/3);
    }

    @include media($tablet){
        width:25%;
    }

    @include media($desktop){
        width:(100%)/6;
    }
}

.b-gallery__link{
    display:block;
    max-width:150px;
    margin:0 auto;
    text-decoration:none;
    position:relative;

    &:after{
        content:'';
        display:block;
        padding-top:75%; //4:3
    }
}

.b-gallery__img{
    @extend .g-img-centered;
    @include transition(opacity .3s ease);
    @include backface-visibility(hidden);

    &:hover,
    &:active{
        opacity:.75;
    }
}