@import "../../modules/_base.scss";
/*Mobile Menu*/
.m-menu{
    position:fixed;
    @include px2rem(width, 256px);
    height:100%;
    top:0;
    @include px2rem(right, -256px);
    z-index:3200;//поверх оверлея
    overflow-x:hidden;
    overflow-y:auto;
    @include transition(transform .3s ease);
    @include linear-gradient(to bottom, #222, #444);

    @include media($desktop){
        display:none;
    }

    &.active{
        @include transform(translateX(-100%));
    }
}

.no-csstransforms{
    .m-menu.active{
        right:0;
    }
}
.m-menu__list{
    @extend .g-clearlist;
}
.m-menu__link,
.m-submenu__link{
    display:block;
    @include px2rem(padding, 10px 12px);
    border-top:1px solid #808080;
    border-bottom:1px solid #000;
    @include font-size(16px);
    line-height:1.2;
    color:#fff;
    text-decoration:none;

    &.current{
        color:$primary-alt;
    }
}

.m-menu__link{
    text-transform:uppercase;
}

.m-menu__label{
    display:block;
    @include px2rem(height, 48px);
    @include px2rem(line-height, 48px);
    @include px2rem(padding, 0 30px 0 12px);
    border-bottom:1px solid #000;
    @include font-size(18px);
    color:$border-color;
    text-transform:uppercase;
    box-sizing:border-box;
    cursor:pointer;
    outline:0;

    &:after{
        content:'\e801';
        font-family:'fontello';
        position:absolute;
        right:8px;
    }

    @include media($tablet){
        @include px2rem(height, 44px);
        @include px2rem(line-height, 44px);
    }
}

/*Mobile Submenu*/

.m-menu__link.has-menu{
    position:relative;
    padding-right:20px;

    &:after{
        content:'\e807';
        font-family:'fontello';
        position:absolute;
        right:10px;
        @include transition(transform .3s ease);
    }

    &.active{
        color:$border-color;

        &:after{
            @include transform(rotate(180deg));
        }
    }
}

.m-submenu{
    @extend .g-clearlist;
    display:none;//покажем скриптом
}
.m-submenu__link{
    padding-left:25px;
    @include font-size(14px);
}
