@import "../modules/base";

@import "footer/_logo.scss";
@import "footer/_search.scss";
@import "footer/_social.scss";

.footer{
   color:#fff;
   background:#283746;
   text-align:center;

   @include media($tablet){
       text-align:left;
   }
}
.footer__main{
    padding:16px 0;
}

.footer__sole{
    padding:10px 0;
    background:#0c1b2b;
}

.footer__caption{
    margin-bottom:20px;
    @include font-size(17px);
    line-height:1.2;

    @include media($tablet){
        float:left;
        margin:0;
    }
}